@import url("https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  &::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: theme("colors.accent");
  }
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 243, 244, 246;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Custom reusable TailwindCSS styles */
/* Page padding styling */
.page-padding {
  width: 100%; /* w-full */
  display: flex; /* flex */
  flex-direction: column; /* flex-col */
  font-family: sans-serif; /* font-sans */
  padding: 1.5rem; /* p-6 */
  padding-left: 6rem; /* lg:px-24 */
  padding-right: 6rem; /* lg:px-24 */
}

/* Page title styling */
.page-title {
  font-size: 1.875rem; /* text-3xl */
  color: #49bfaa; /* text-secondary */
  font-weight: bold; /* font-bold */
  margin: 1.5rem; /* m-6 */
}

/* Custom border styling */
.custom-border {
  border-radius: 0.5rem; /* rounded-lg */
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06); /* shadow-md */
}

.button {
  background-color: #70c7b0; /* bg-accent */
  cursor: pointer; /* cursor-pointer */
  border-radius: 9999px; /* rounded-full */
  font-family: sans-serif; /* font-sans */
  font-size: 1.125rem; /* text-lg */
  color: #fff; /* text-primary-content */
  display: inline; /* inline */
  padding-left: 1.5rem; /* px-6 */
  padding-right: 1.5rem; /* px-6 */
  padding-top: 6px; /* py-[6px] */
  padding-bottom: 6px; /* py-[6px] */
  margin-left: 1.5rem; /* ml-6 */
  transition: transform 200ms; /* transition-transform duration-200 */
}

.button:hover {
  transform: scale(1.1); /* hover:scale-110 */
}
