name: Pipeline

# Controls when the workflow will run
on:
  push:
    branches:
      - main
      - github-actions
  pull_request:
    branches:
      - main

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:
    inputs:
      deploy:
        description: "Deploy the project"
        required: true
        default: false

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  Prettier:
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v3

      - name: Set up Node.js
        uses: actions/setup-node@v2
        with:
          node-version: "20"

      - name: Install dependencies
        run: |
          npm install

      # Runs prettier
      - name: Run code style check
        run: npm run prettier
  Build:
    needs: Prettier
    runs-on: ubuntu-latest

    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - name: Check out code
        uses: actions/checkout@v3

      - name: Set up Node.js
        uses: actions/setup-node@v2
        with:
          node-version: "20"

      - name: Install dependencies
        run: |
          npm install

      # Build the project (linter automatically run here)
      - name: Build Project
        run: |
          npm run build
